
body {
    background-image: url("songbirdbackgroundtransparent.png");
}
@font-face {
    src:url("RusshellFree.otf");
    font-family: RushellFree;
}

@font-face {
  src:url("Loveya.ttf");
  font-family: Loveya;
}

#content {
  margin-top: 25px;
  margin-bottom:45px;
}

.banner {
  background-color: white;
  width: 100%;
  height:200px;
  padding: 25px;
  font-family: RushellFree;
  font-size: 25px;
  color:#C04884;
}


/*Start of top Nav bar*/
.topnav {
  overflow: hidden;
    background-color: white;
    width:100%;
    text-align: center;
    padding: 0px,0px,0px,0px;
    color: white;
    position: fixed;
    top:0;
    font-size: 20px;
}

.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Loveya;
}

.topnav a:hover {
  background-color: #1E6870;
  color: black;
}

.topnav a.active {
  background-color: #1E6870;
  color: black;
}


.top-nav a:hover {
background-color: #000;

}
/*end of top Nav bar*/

/*start of media bar*/
.media {
  overflow: hidden;
  background-color: transparent;
  width:100%;
  text-align: center;
  padding: 0px,0px,0px,0px;
  color: black;
  position: fixed;
  bottom:15px;
  font-size: 20px;
}

.media a {
  color: black;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 20px;
}

.media a:hover {
  background-color: #0E887F;
  color: white;
}

.facebook {
  background: transparent;
}

.twitter {
  background: transparent; 
}

.google {
  background: transparent;
}

.instagram {
  background: transparent;
}

.youtube {
  background: transparent;
}

/*End of media bar*/
h1 {
  font-family: RushellFree;
  text-align:center;
}

h2 {
    font-family: Loveya;
    text-align:center;
  }

.pageheader {
    width: auto;
    float: right;  
    font-family: RushellFree;
    color: white ;
    font-size: 550%;
    margin-top: 200px;
    margin-right: 100px;  
}

.logo {
    width:300px;
    font-family: RushellFree;
    text-align: left;
    color: #C04884;
    font-size: 200%;
   margin-top: 100px;   
}

.image3 {
   margin-left: 100px;
}

/*Katie added div"*/
#firstline {
  width: auto;
  background-color:#C04884;
  height:12px;
}

#wrap {
    width:100%;
    height:600px;
    background-color: transparent; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom left, #1E6870, transparent); /* Standard syntax (must be last) */
  }
  
  .left {
    width: 600px;
    background-color: transparent;
    height:123px;
    float:left;
    margin-top: 100px;
  }
  
  .right {
    width: 650px;
    background-color: transparent;
    height:123px;
    float: right;
    margin-top: 150px;
   
}
.column {
    float: left;
    width: 30.33%;
    padding: 10px;
    margin:50px 10px 10px 10px;
    height: 500px;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.myfooter {
   align-content: center;
    margin-top:150px;
    left: 0;
    bottom:0;
    background-color:transparent;
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: LoveYa;
}

.primarybutton {
 
    background-color: #573F62;
    border: none;
    color: white;
    padding: 11px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #573F62;
  border-radius: 2px;
  margin-top: -50px;
  margin-bottom: 50px;
  margin-left: 35px;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #C04884;
  border-radius: 2px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 205px;
  

}
.primarybutton:hover {
  background-color: #573F62;
  color: white;
}


/*End of carousel*/
    WEbsite Colors
#1E6870 (green)
#573F62(purple)
#791235 (red)
#C04884 (pink)