
body {
    background-color:white; 
}
@font-face {
    src:url("RusshellFree.otf");
    font-family: RushellFree;
}

@font-face {
  src:url("loveya.ttf");
  font-family: Loveya;
}

@font-face {
  src:url("Lemon.otf");
  font-family: lemon;
}

#content {
  margin-top: 100px;
  margin-bottom:45px;
}


.banner {
  background-color: white;
  width: 100%;
  height:200px;
  padding: 25px;
  font-family: RushellFree;
  font-size: 25px;
  color:#C04884;
}

.pageheader {
  width: auto;
  align-content: center;  
  font-family: RushellFree;
  text-align: center;
  color: #1E6870 ;
  font-size: 500%;
  margin-top: -160px;  
}

.logo {
  width:300px;
  font-family: RushellFree;
  text-align: left;
  color: #C04884;
  font-size: 200%;
 margin-top: 25px;   
}


/*Start of top Nav bar*/
.topnav {
  overflow: hidden;
    background-color: white;
    width:100%;
    text-align: center;
    padding: 0px,0px,0px,0px;
    color: white;
    position: fixed;
    top:0;
    font-size: 20px;
}

.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: lemon;
}

.topnav a:hover {
  background-color: #0E887F;
  color: white;
}

.topnav a.active {
  background-color: #0E887F;
  color: white;
}

/*end of top Nav bar*/

/*start of media bar*/
.media {
  overflow: hidden;
  background-color: transparent;
  width:100%;
  text-align: center;
  padding: 0px,0px,0px,0px;
  color: black;
  position: fixed;
  bottom:15px;
  font-size: 20px;
}

.media a {
  color: black;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 20px;
}

.media a:hover {
  background-color: #0E887F;
  color: white;
}

.facebook {
  background: transparent;
}

.twitter {
  background: transparent; 
}

.google {
  background: transparent;
}

.instagram {
  background: transparent;
}

.youtube {
  background: transparent;
}

/*End of media bar*/
h1 {
  font-family: RushellFree;

}

hr {
  border: 0;
  width: 100%;
  height: 5px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}



.image2 {
    position: center;
}

.image3 {
  position: center;
}

/*Katie added div"*/
#firstline {
  width: auto;
  background-color:#C04884;
  height:12px;
  margin-top: -75px;
}
#wrap {
  width:100%;
  height:600px;
  background-color: transparent; /* For browsers that do not support gradients */
}

.left {
  width: 650px;
  background-color: transparent;
  height:123px;
  float:left;
}

.right {
  width: 650px;
  background-color: transparent;
  height:123px;
  float: right;
}
/*Katie ended div*/



.myfooter {
   align-content: center;
    margin-top:150px;
    left: 0;
    bottom:0;
    background-color:transparent;
    color: black;
    text-align: center;
    text-decoration: none;
}

.myfooter p {
  font-family: lemon;
}

.primarybutton {
 
    background-color: #573F62;
    border: none;
    color: white;
    padding: 11px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #573F62;
  border-radius: 2px;
  margin-top: -50px;
  margin-bottom: 50px;
  margin-left: 35px;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #C04884;
  border-radius: 2px;
  margin-top: 50px;
  margin-bottom: 50px;
  

}
.primarybutton:hover {
  background-color: #573F62;
  color: white;
}

