@font-face {
    src:url("adrip1.ttf");
    font-family: drippyfont;
}

.image1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.image2 {
    float: right;
}
  
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
 }

div {
    margin-top: 100px;
    margin-bottom: 0;
    margin-right: 150px;
    margin-left: 80px;
}

p.top {
    font-family: drippyfont;
    text-align: center;
    color: rgb(243, 16, 232);
    font-size: 600%;
    padding-top: 50px;
}
p.center {
    margin-top: -100px;
    text-align: center;
    color: white;
    font-size: 175%;
}

p.center1{
    text-align: center;
    font-variant: small-caps;
    color: white;
    font-size: 115%
}

body {
    background-color:black; 
}

p.text {
    color:white;
}

center{
    text-align: center;
}

.newspaper {
        column-count: 2;
        column-gap: 40px;
        column-width: 400px;
        padding-top: 50px;
        padding-right: 50px;
        padding-left: 50px;
        padding-bottom: 200px;
    }

.videowrapper { 
        float: none;
        clear: both;
        width: 700px;
        position: relative;
        padding-bottom: 25%;
        padding-top: 25px;
        height: 0;
    margin: 0 auto;
    }
    .videowrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    max-width: 700px;
    max-height: 500px;
    }

img {
    float: right;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 1px;
}